body {
    /* background-color: var(--color-background); */
    color: aliceblue;
    font-family: var(--font-primary);
    font-size: var(--font-size-22_1-375);
    margin: 0 auto;
    position: relative;
    max-width: 600px;
    padding: 0 5px;
}

footer {
    color: aliceblue;
    margin-bottom: var(--font-size-10_0-625);
    text-align: center;
    font-size: var(--font-size-16_1rem);
    box-shadow: 0rem 0rem 1rem 5px rgba(10, 10, 10, 0.8);
}

h1 {
    text-align: center;
    width: 24ch;
}

h2 {
    color: #ff4f00;
}

header {
    margin: var(--spacing-10_0-625) 0;
}

main {
    display: flex;
    flex-direction: column;
}

#person-form {
    border: 0 solid #ff4f00;
    border-radius: var(--font-size-10_0-625);
    margin: 0;
    padding: 0;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    background: #333;
    color: rgb(177 197 255);
    font-size: var(--font-size-18_1-125);
}

.accordion-flush .accordion-item {
    border-left: 0;
    border-right: 0;
}

.accordion-body {
    padding: 0;
}

.accordion-button {
    justify-content: center;
    margin: 0;
}

.accordion-item {
    padding: 0;
}

.aclaracion_edades {
    font-size: var(--font-size-14_0-875);
}

.btn-add-person,
.btn-reset-person {
    background-color: #212529;
    border: 0;
    margin: 0;
    /* margin-left: 5px; */
}

.btn-add-person:active,
.btn-reset-person:active {
    transform: scale(1.3);
}

.btn-add-person:not(:active) {
    transform: scale(1);
}

.btn-close {
    --bs-btn-close-color: #000000;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    font-size: var(--font-size-30_1-875);
    width: 2em;
    height: 2em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}

.card {
    background-color: #222222;
    justify-content: center;
    margin-bottom: var(--spacing-10_0-625);
    box-shadow: 0rem 0rem 0.75rem 4px rgba(0, 0, 0, 0.8);
}

.card p {
    color: aliceblue;
}

.card_cba_value {
    color: rgb(211 193 255);
    /* color: rgb(255 181 158); */
    font-weight: var(--font-weight-700-bold);
    margin-left: var(--font-size-10_0-625);
}

.card-header {
    padding: var(--font-size-10_0-625);
}

.card_header_sub {
    font-size: var(--font-size-18_1-125);
}

.card_subtitle {
    color: rgb(255 255 255);
    display: inline-flex;
    justify-content: space-between;
    padding: var(--font-size-10_0-625) 0 0 0;
    width: 100%;
}

.cards_linea_vineta {
    font-weight: bold;
    border-radius: 50%;
    margin: 0 10px 0 10px;
    height: 100%;
}

.cards_nota {
    display: flex;
    align-items: flex-start;
}

.cards_nota_txt {
    font-size: var(--font-size-14_0-875);
    text-align: left;
}

[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon {
    filter: brightness(100%) contrast(100%) saturate(100%);
}

.carousel-control-next {
    right: -20px;
}

.carousel-control-prev {
    left: -20px;
}

/* .detalles_delete {
    border: 1px solid #ff4f00;
    border-radius: 50%;
    padding: 0;
    margin: 0;
} */

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle::before {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 var(--font-size-8_0-5) 0;
}

.icon-svg-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 10px;
}

.icon-svg-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.icon-svg-reset:hover {
    color: #ce2331;
    border: 5px solid #ce2331;
    border-radius: 10px;
}

.icon-svg-reset::selection {
    color: #ce2331;
    border: 5px solid #ce2331;
    border-radius: 10px;
}

.icon-svg-add:hover {
    color: #ce2331;
    border: 5px solid #ce2331;
    border-radius: 10px;
}

.icon-svg-add:not(:active) {
    border: 0;
}

.linea_pobreza,
.linea_indigencia,
.linea_pobreza_alquilando {
    font-size: var(--font-size-16_1rem);
}

.lineas_info {
    padding: var(--font-size-10_0-625);
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) 0.3rem;
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.list-group-item-acordion {
    padding: var(--font-size-6_0-375) 0;
}

.logo {
    display: flex;
    font-family: var(--font-logo);
    font-size: var(--font-size-36_2-25);
    font-weight: var(--font-weight-700-bold);
    letter-spacing: 0.1rem;
    /* color: #F05941; */
}

.logo-img {
    margin-right: var(--font-size-10_0-625);
    width: var(--font-size-40_2-5);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0.3rem;
}

.navbar {
    box-shadow: 0rem 0rem 0.75rem 4px rgba(0, 0, 0, 0.8);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
    margin-top: calc(-0.2 * var(--bs-offcanvas-padding-y));
    margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
    margin-bottom: calc(-0.5 * var(--bs-offcanvas-padding-y));
}

/* .person-form-group {
    display: flex;
    flex-direction: column;
    width: 34%;
} */

.person-form-select,
.person-select-age {
    margin-top: 0;
}

.person-add-title {
    margin: var(--font-size-10_0-625) 0 var(--font-size-14_0-875) 0;
    text-align: center;
}

.person-table-title {
    margin: var(--font-size-10_0-625) 0 var(--font-size-14_0-875) 0;
    padding: 5px;
    text-align: center;
    background-color: rgb(82 70 26);
    border-radius: 0.3rem;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}

.show_indigencia_min,
.show_indigencia_max,
.show_pobreza_min,
.show_pobreza_max,
.show_clase_baja_min,
.show_clase_baja_max,
.suma_clase_media_fragil_min,
.suma_clase_media_fragil_max,
.suma_clase_media_min,
.suma_clase_media_max,
.suma_clase_media_alta_min,
.suma_clase_media_alta_max,
.suma_clase_alta_min,
.suma_clase_alta_max {
    width: 31%;
}

.subtitle {
    text-align: center;
    margin: 0;
}

.table {
    font-size: var(--font-size-16_1rem);
    margin: 0 auto;
    width: 96%;
    text-align: center;
}

.table-all-canastas {
    font-size: 10px !important;
    padding: 0 2px;
}

.table-header {
    text-align: center;
}

.table_alquiler {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bg-dark {
    color: #fff !important;
    /* background-color: var(--color-background) !important; */
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.tooltip {
    background-color: #333; /* Fondo oscuro */
    border-radius: 10px; /* Bordes redondeados */
}

/* Cambiar el color del texto */
.tooltip .tooltip-inner {
    color: #fff; /* Texto blanco */
    background-color: #333; /* Fondo interno oscuro */
    padding: 10px; /* Aumentar el padding */
    font-size: 1rem; /* Tamaño de fuente más grande */
}

/* Personalizar la flecha del tooltip */
.tooltip .tooltip-arrow::before {
    border-top-color: #333; /* Cambiar el color de la flecha */
}

.version {
    color: #fff;
    width: 100%;
}

.view_cba,
.view_cbt,
.view_cbta,
.view_cbt_alquiler_3amb {
    color: aliceblue;
    font-size: 5px;
}

/* Select custom +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.age-option:enabled {
    text-align: center;
}

.alquiler_in,
.selected-gender,
.selected-age,
.select_canasta_alquiler {
    background-color: #333;
    cursor: pointer;
    max-width: 125px;
    margin-right: 5px;
}

.option_alquiler:enabled {
    display: block;
    text-align: justify;
    margin-right: 50px;
}

.alquiler_in:disabled {
    text-align: center;
}

.alquiler_in::placeholder {
    text-align: center;
}

.message_error_age {
    background-color: rgb(73, 51, 51);
    color: white;
    display: none;
    height: 6rem;
    /* position: absolute; */
    width: var(--font-size-30_1-875);
}
