:root {
    color: aliceblue;
    font-size: 10px;
    font-family: var(--font-primary);
}
body {
    background-color: #000;
    color: aliceblue;
    margin: 0 10px;
    font-family: var(--font-primary);

}

header {
    display: flex;
    background-color: #000;
    color: aliceblue;
    /* text-align: center; */
    padding: 10px 0;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: column;
}

footer {
    background-color: #000;
    color: aliceblue;
    text-align: center;
}

main {
    display: flex;
    color: aliceblue;
    flex-direction: column;
}

nav {
    display: flex;
    width: 68%;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    /* flex-direction: row; */
}

nav ul li {
    display: flex;
    font-size: var(--font-size-16);
    padding: 0 10px 0 0;
}



.accordion {
    --bs-accordion-bg: #302222; 
    border-radius: 10px;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 10px;
    background: #333;
    color: aliceblue;
    font-size: var(--font-size-16);
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 10px;
}

.accordion-button {   
    justify-content: center;  
}

.accordion-item {
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.card p {
    color:bisque;
}

.logo {
    width: 35%;
    font-size: var(--font-size-28);
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.view_cba, .view_cbt, .view_cbta {
    display: flex;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    padding: 10px;
    width: 96%;
    color: aliceblue;
    text-align: center;
    align-items: center;
    font-size: var(--font-size-16);
}


